@model Album
@{
    ViewData["Title"] = "UpdateAlbum";
    Layout = "~/Areas/Artist/Views/ArtistLayout/Index.cshtml";
}

<h3>Album Düzenleme Sayfası</h3>

<form method="post">
    <input type="hidden" asp-for="AlbumId" />
    <label>Resim Url</label>
    <input type="text" asp-for="CoverImage" class="form-control" />
    <br />
    <label>Album Adı</label>
    <input type="text" asp-for="AlbumName" class="form-control" />
    <br />
    <label>Album Fiyatı</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>


