@model List<Song>
<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(/one-music-gh-pages/img/bg-img/bg-4.jpg);">
    <div class="container">
        @foreach (var item in Model)
        {


            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="/images/@item.SongImageUrl" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>Öne Çıkan Albüm: Demo</p>
                            <h2>Albümün Gözdesi: Begonvil</h2>
                        </div>
                        <p>Sezen Aksu'nun "Begonvil" şarkısı, sanatçının 2020 yılında yayımlanan "Demo" albümünde yer almaktadır. Bu albüm, Aksu'nun geçmişte yazdığı ama daha önce resmi olarak yayımlanmamış olan demo kayıtlarını içermektedir. Begonvil, albümdeki diğer parçalarla birlikte dinleyicilerin büyük beğenisini kazanmış ve kısa sürede en çok dinlenen parçalar arasında yer almıştır. "Demo 2" albümü, Sezen Aksu'nun sanat kariyerinde önemli bir yer tutan ve yıllar içinde biriktirdiği şarkıların daha samimi ve ham hallerini sunmaktadır. Begonvil, bu albümdeki en dikkat çekici parçalardan biri olarak öne çıkmıştır. Şarkı, duygusal derinliği ve etkileyici sözleri ile dinleyicilerin kalbinde yer edinmiştir.</p>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>Dinleyicilerin Favorisi</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="/songs/@item.SongUrl">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
