@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h3>Sanatçılar</h3>
@{
    int count = 0;
}
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Şarkıcı Adı</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="height:50px; width:50px" /></td>
            <td>@item.Name @item.Surname</td>
            <td>            
                <a href="/Artists/DeleteArtist/@item.Id" class="btn btn-outline-danger">Sil</a>
                <a href="/AdminAlbum/AlbumsByArtist?artistId=@item.Id" class="btn btn-outline-info">Albümlerini Gör</a>
            </td>
        </tr>
    }
</table>

